/* @font-face {
    font-family: ;
    src: url();
} */

.notification::before {
    content: '';
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: #7650FE;
    border: solid 2px white;

}

/* #nav{
    position:relative ;
} */

#sign-in>img {
    width: 4.1em;
}

/* #sign-in img::before{
    content: "";
    position: absolute;
    top: 20%;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: #19CB97;
    border: solid 2px white;

} */

.jumbotron {
    background-color: #7650FE;

}

.jumbotron>.container>.row>.col h1 {
    font-size: 2.2em;
}

.jumbotron>.container>.row>.col>.row>.col a {
    font-size: 10pt;

}

.list-group-item>.row>.col-2>.bi {

    color: #C18165;
    background-color: #FFEFD9;
    
}
/* .list-group-item>.row>.col{
    border-radius: 50%;
    width: 2%;
    height: 2%;
} */


.average{
    width: 10px;
    height: 30px;
    width: 10px;
height: 30px;
background-color: #7650FE;
border-radius: 10px;
}

.average::before{
content: '';
position: absolute;
width: 10px;
height: 30px;
background-color: #7650FE;
border-radius: 10px;
top: 3px;
right: 30px;
left: 4px;

}
.average::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 30px;
    background-color: #7650FE;
    border-radius: 10px;
    top: 3px;
    right: 50px;
    left: 40px;
    
    }
