/* NAVBAR */

nav > .row > .col {
  display: flex;
}

nav > .row > .col button {
  order: 3;
}

/* ----ICONA NOTIFICA E USER PSEUDO ELEMENTI */
.notification::before {
  content: '';
  position: absolute;
  top: 17px;
  left: 23px;
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  background-color: #7650fe;
  border: solid 2px white;
}

.notification {
  background-color: #f5f4f8;
  border-radius: 50%;
}

.user > img {
  width: 4.1em;
}

.user::after {
  content: '';
  position: absolute;
  top: 47px;
  left: 43px;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #19cb97;
  border: solid 2px white;
}

/* tolgo freccete da icona notifiche e user */
/* icona user */
.notification::after {
  display: none;
}

.notification::before {
  width: 1rem;
  height: 1rem;
  top: 15px;
  left: 30px;
}

/* JUMBOTRON */

.jumbotron {
  background-color: #7650fe;
}

.jumbotron > .container > .row > .col h1 {
  font-size: 2.2em;
}

.jumbotron > .container > .row > .col > .row > .col a {
  font-size: 10pt;
}

/* LIST GROUP */

.icon-list {
  background-color: #ffefd9;
  color: #c18165;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
}

.card-footer {
  border-radius: 0%;
}

.card {
  border-radius: 0.7 rem;
}

/* -------------------Average CARDS Pseudo elements */

.advance {
  width: 3px;
  height: 12px;
  background-color: #7650fe;
  border-radius: 10px;
  position: absolute;
  top: 6px;
  left: -5px;
}

.advance::before {
  content: '';
  position: absolute;
  width: 3px;
  height: 8px;
  background-color: #7650fe;
  border-radius: 10px;
  top: 4px;
  left: -5px;
}

.advance::after {
  content: '';
  position: absolute;
  width: 3px;
  height: 14px;
  background-color: #7650fe;
  border-radius: 10px;
  top: -2px;
  left: 5px;
}

.intermediate {
  width: 3px;
  height: 12px;
  background-color: #7650fe;
  border-radius: 10px;
  position: absolute;
  top: 6px;
  left: -5px;
}

.intermediate::before {
  content: '';
  position: absolute;
  width: 3px;
  height: 8px;
  background-color: #7650fe;
  border-radius: 10px;
  top: 4px;
  left: -5px;
}

.intermediate::after {
  content: '';
  position: absolute;
  width: 3px;
  height: 14px;
  background-color: #afaabe;
  border-radius: 10px;
  top: -2px;
  left: 5px;
}

.beginner {
  width: 3px;
  height: 12px;
  background-color: #afaabe;
  border-radius: 10px;
  position: absolute;
  top: 6px;
  left: -5px;
}

.beginner::before {
  content: '';
  position: absolute;
  width: 3px;
  height: 8px;
  background-color: #7650fe;
  border-radius: 10px;
  top: 4px;
  left: -5px;
}

.beginner::after {
  content: '';
  position: absolute;
  width: 3px;
  height: 14px;
  background-color: #afaabe;
  border-radius: 10px;
  top: -2px;
  left: 5px;
}

/*------------------ Carosello controls */
.carousel-control-prev {
  left: -130px;
}
.carousel-control-next {
  right: -130px;
}

.carousel-inner {
  overflow: visible;
}

.save > svg.bi.bi-bookmark-fill {
  position: absolute;
  inset: 5px 0 0 0;
}
.save > svg.bi.bi-bookmark-fill:not(.favorites) {
  opacity: 0;
}

/* rende visibile l'icona piena del booknark */
.save:hover .bi.bi-bookmark-fill {
  opacity: 1;
}

.favorites {
  background-image: url(assets/bookmark-fill.svg);
  opacity: 1;
  transition: all ease-out;
}

.carousel-item .card {
  transform: scale(1);
  transition: transform, 0.55s ease-in-out;
}

.carousel-item .card:hover {
  transform: scale(1.02);
  -webkit-box-shadow: 0px 0px 13px 1px rgba(239, 235, 235, 1);
  -moz-box-shadow: 0px 0px 13px 1px rgba(239, 235, 235, 1);
  box-shadow: 0px 0px 13px 1px rgba(150, 142, 150, 1);
  cursor: pointer;
}

.carousel-inner:hover {
  transition: transform, 0.75s ease-in-out;
}

.carousel-inner {
  overflow: visible;
}

.carousel-item:hover {
  transition: transform, 0.75s ease-in-out;
}

@media only screen and (min-width: 768px) {
  .carousel-control-prev {
    left: -60px;
  }
  .carousel-control-next {
    right: -130px;
  }
}
